<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">
      <form action="/ta02/addUser" method="POST">
        <label>Add User</label>
        <input type="text" name="addUser">
        <button type="submit">Submit</button>
        </form>

        <form action="/ta02/removeUser" method="POST">
          <label>Remove User</label>
          <input type="text" name="removeUser">
          <button type="submit">Submit</button>
          </form>
    </div>
    <p><%= errorMessage %></p>

    <div>
      <ul>
        <% for (let user of users) { %>
        <li>
          <%= user %>
        </li>
        <% } %>
      </ul>
    </div>

</body>

</html>